<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>某茶叶公司销售管理系统</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"></meta>
    <link rel="Shortcut Icon" href="static/images/mzj.ico">
    <link rel="stylesheet" href="manager/css/bootstrap/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="manager/css/font-awesome.min.css"></link>
    <link rel="stylesheet" href="manager/css/ionicons.min.css"></link>
    <link rel="stylesheet" href="manager/css/AdminLTE.css"></link>
    <link rel="stylesheet" href="manager/css/skins/skins.min.css"></link>
    <link rel="stylesheet" href="manager/js/plugins/toastr/2.1.1/toastr.min.css"></link>
    <link rel="stylesheet" href="manager/js/plugins/ui-bootstrap/2.5.0/ui-bootstrap-custom.css"></link>
    <link rel="stylesheet" href="manager/js/plugins/angular-toggle-switch/angular-toggle-switch-bootstrap-3.css"></link>
    <link rel="stylesheet" href="manager/js/plugins/ui-grid/4.0.3/ui-grid.css"></link>

    <script src="manager/js/plugins/jQuery/jquery-2.2.3.min.js"></script>
	<script src="manager/js/plugins/html5shiv/html5shiv.min.js"></script>
	<script src="manager/js/plugins/respond/respond.min.js"></script>
    <script src="manager/js/plugins/angularjs/1.5.11/angular.min.js"></script>
    <script src="manager/js/plugins/angularjs/1.5.11/angular-messages.min.js"></script>
    <script src="manager/js/plugins/angularjs/1.5.11/angular-touch.min.js"></script>
    <script src="manager/js/plugins/ui-route/0.4.2/angular-ui-router.min.js"></script>
    <script src="manager/js/plugins/ocLazyLoad/1.1.0/ocLazyLoad.min.js"></script>
    <script src="manager/js/plugins/toastr/2.1.1/toastr.min.js"></script>
    <script src="manager/js/plugins/ui-bootstrap/2.5.0/ui-bootstrap-custom-tpls.min.js"></script>
    <script src="manager/js/plugins/angular-toggle-switch/angular-toggle-switch.min.js"></script>
    <script src="manager/js/plugins/ui-grid/4.0.3/ui-grid.min.js"></script>
    <script src="manager/js/index/app.js"></script>
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <div ng-app="indexApp">
            <div ng-controller="indexCtrl">
                <!-- 头部 -->
                <header class="main-header">
                    <a href="#" class="logo">
                        <span class="logo-mini">
                            <img src="manager/images/ypadminlogo_whitemin.png" width="30">
                        </span>
                        <span class="logo-lg">
                            <img src="manager/images/admin_logo.png">
                        </span>
                    </a>
                    <nav class="navbar navbar-static-top">
                        <a class="sidebar-toggle" data-toggle="offcanvas" role="button">
                            <span class="sr-only">Toggle navigation</span>
                        </a>

                        <div class="navbar-custom-menu">
                            <ul class="nav navbar-nav">
                                <li class="dropdown user user-menu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <img ng-src="{{avatar}}" class="user-image">
                                        <span class="hidden-xs">
                                            <shiro:principal property="name" />
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="user-header">
                                            <img ng-src="{{avatar}}" class="img-circle">
                                            <p>
                                                <shiro:principal property="name" />
                                            </p>
                                        </li>
                                        <li class="user-footer">
                                            <div class="pull-left">
                                                <a href="#profile" ng-click="openProfile();" class="btn btn-default btn-flat">管理员信息</a>
                                                <a href="#password" ng-click="openPwd();" class="btn btn-default btn-flat">修改密码</a>
                                            </div>
                                            <div class="pull-right">
                                                <a href="#logout" ng-click="logout();" class="btn btn-default btn-flat">退出</a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </header>

                <!-- 左侧菜单 -->
                <aside class="main-sidebar">
                    <section class="sidebar">
                        <div class="input-group sidebar-form">
                            <input type="text" name="q" class="form-control" placeholder="Search..." ng-model="menuFilter">
                            <span class="input-group-btn">
                                <button type="submit" name="search" id="search-btn" class="btn btn-flat disabled">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>

                        <ul class="sidebar-menu">
                            <li class="active treeview">
                                <a href="#">
                                    <i class="fa fa-dashboard"></i>
                                    <span>父菜单</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>

                                <ul class="treeview-menu">
                                    <li>
                                        <a href="#home" ng-click="openTab('/dashboard', 'Dashboard', '-1', 'dashboard')">
                                            <i class="fa fa-dashboard"></i> 菜单1
                                        </a>
                                    </li>
                                    <li>
                                            <a href="#test" ng-click="openTab('/dashboard', 'Dashboard', '-1', 'dashboard')">
                                                <i class="fa fa-dashboard"></i> 菜单2
                                            </a>
                                        </li>                                   
                                </ul>
                            </li>

                            <li class="treeview" ng-repeat="menu in mainMenu | filter:menuFilter ">
                                <a href="#">
                                    <i class="{{menu.icon !='' ? menu.icon:'fa fa-folder'}}"></i>
                                    <span ng-bind="menu.name"></span>
                                    <span class="pull-right-container" ng-if="menu.child.length > 0">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu" ng-if="menu.child.length > 0">
                                    <li ng-repeat="schild in menu.child track by $id(schild)">
                                        <a href="#{{schild.code}}" ng-click="openTab(schild.url, schild.name, schild.id, schild.code)">
                                            <i class="{{schild.icon !='' ? schild.icon:'fa fa-folder'}}"></i> {{schild.name}}
                                            <span class="pull-right-container" ng-if="schild.child.length > 0">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu" ng-if="schild.child.length > 0">
                                            <li ng-repeat="tchild in schild.child track by $id(tchild)">
                                                <a href="#{{tchild.code}}" ng-click="openTab({{tchild.url}})">
                                                    <i class="{{tchild.icon !='' ? tchild.icon:'fa fa-circle-o'}}"></i> {{tchild.name}}
                                                    <span class="pull-right-container" ng-if="tchild.child.length > 0">
                                                        <i class="fa fa-angle-left pull-right"></i>
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </section>
                </aside>

                <!-- 右侧内容 -->
                <div class="content-wrapper">
                    <section class="content">
                        <ul class="nav nav-tabs">
                            <li class="active" >
                                <a>选项卡</a>
                                <span aria-hidden="true" class="fa fa-close tab-close"></span>
                            </li>                      
                            <li class="{{ tab.active ? 'active' : ''}}" ng-repeat="tab in tabs" ng-click="activeTab(tab.id)">
                                <a id="tab-{{tab.id}}" href="#{{tab.code}}" data-toggle="tab" ng-bind="tab.name"></a>
                                <span ng-show="$index > 0" aria-hidden="true" ng-click="closeTab(tab.id)" class="fa fa-close tab-close"></span>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div ui-view></div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <script src="manager/css/bootstrap/js/bootstrap.min.js"></script>
    <script src="manager/js/app.min.js"></script>
</body>
</html>