<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

		<title>订单管理</title>

		<link href="../AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
		<link href="../AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">

		<link href="../css/personal.css" rel="stylesheet" type="text/css">
		<link href="../css/orstyle.css" rel="stylesheet" type="text/css">

		<script src="../AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
		<script src="../AmazeUI-2.4.2/assets/js/amazeui.js"></script>
		
		<script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>
		
		<script type="text/javascript" src="../angularjs/1.6.2/angular.min.js"></script>
		<script type="text/javascript" src="../angularjs/1.5.11/angular.min.js"></script>
		<script src="angularjs/1.5.11/angular.min.js"></script>
		<script src="angularjs/1.5.11/angular-messages.min.js"></script>
		<script src="angularjs/1.5.11/angular-touch.min.js"></script>
		<script src="angularjs/1.5.11/angular-animate.min.js"></script>
		
		<script type="text/javascript" src="../js/person/order.js"></script>

	</head>

	<body ng-app="orderApp" ng-controller ="orderCtrl">
		<!--头 -->
		<header>
			<article>
				<!-- 头部 -->
				<div  class="hmtop" th:include="./common/header :: header"></div>
			</article>
		</header>
          <!--分类-->
		<!-- 首页分类那些 -->
		<div class="nav-table"  th:include="./common/navtable :: navtable"></div>
			<b class="line"></b>
		<div class="center">
			<div class="col-main">
				<div class="main-wrap">

					<div class="user-order">

						<!--标题 -->
						<div class="am-cf am-padding">
							<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">订单管理</strong> / <small>Order</small></div>
						</div>
						<hr/>

						<div class="am-tabs am-tabs-d2 am-margin" data-am-tabs>

							<ul class="am-avg-sm-5 am-tabs-nav am-nav am-nav-tabs">
								<li class="am-active"><a href="#tab1">所有订单</a></li>
								<li><a href="#tab2">待付款</a></li>
								<li><a href="#tab3">待发货</a></li>
								<li><a href="#tab4">待收货</a></li>
								<li><a href="#tab5">待评价</a></li>
							</ul>

							<div class="am-tabs-bd">
								<div class="am-tab-panel am-fade am-in am-active" id="tab1">
									<div class="order-top">
										<div class="th th-item">
											<td class="td-inner">商品</td>
										</div>
										<div class="th th-price">
											<td class="td-inner">单价</td>
										</div>
										<div class="th th-number">
											<td class="td-inner">数量</td>
										</div>
										<div class="th th-operation">
											<td class="td-inner">商品操作</td><!--  -->
										</div>
										<div class="th th-amount">
											<td class="td-inner">合计</td>
										</div>
										<div class="th th-status">
											<td class="td-inner">交易状态</td>
										</div>
										<div class="th th-change">
											<td class="td-inner">交易操作</td>
										</div>
									</div>

									<div class="order-main">
										<div class="order-list">
											
											<!--交易成功-->
											<div class="order-status5" ng-repeat="o in myOrder">
												<div class="order-title">
													<div class="dd-num">订单编号：<a href="javascript:;">{{o.orderNum}}</a></div>
													<span style="">成交时间：{{o.putawayTime==null? o.createTime:o.putawayTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
													<!--    <em>店铺：小桔灯</em>-->
												</div>
												<div class="order-content">
													<div class="order-left">
														<ul class="item-list" ng-repeat="r in o.commodityRefOrder">
															<li class="td td-item">
																<div class="item-pic">
																	<a ng-href="introduction?commodityNum={{r.commodityNum}}" class="J_MakePoint">
																		<img ng-src="{{r.cover}}" class="itempic J_ItemImg" width=85px height=85px>
																	</a>
																</div>
																<div class="item-info">
																	<div class="item-basic-info">
																		<a ng-href="introduction?commodityNum={{r.commodityNum}}">
																			<p>{{r.commodityTitle}}</p>
																			<!-- <p class="info-little">颜色：12#川南玛瑙
																				<br/>包装：裸装 </p> -->
																		</a>
																	</div>
																</div>
															</li>
															<li class="td td-price">
																<div class="item-price">
																	{{r.buyPrice}}
																</div>
															</li>
															<li class="td td-number">
																<div class="item-number">
																	<span>×</span>{{r.buyNum}}
																</div>
															</li>
															<li class="td td-operation" ng-if="o.status==2 || o.status==3 || o.status==4">
																<div class="item-operation">
																	<a href="refund.html">退款</a>
																	<a href="refund.html" ng-if="o.status==3 || o.status==4">/退货</a>
																</div>
															</li>
															<li class="td td-operation">
																<div class="item-operation">
																	
																</div>
															</li>
														</ul>

														
													</div>
													<div class="order-right">
														<li class="td td-amount">
															<div class="item-amount">
																合计：{{o.totalAmount}}
																<p>含运费：<span>{{o.paymentAmount}}</span></p>
															</div>
														</li>
														<!-- 订单状态  -10-交易关闭、0-待付款、1-完成、2-待发货、3-待收货、4-待评价、10-退款售后 -->
														<!-- 交易成功 -->
														<div class="move-right" ng-if="o.status==4 || o.status==1 || o.status==10">
															<li class="td td-status">
																<div class="item-status">
																	<p class="Mystatus">交易成功</p>
																	<p class="order-info"><a href="orderinfo.html"  ng-if="o.status==4">去评价</a></p>
																	<p class="order-info"><a ng-href="orderinfo.html?orderNum={{o.orderNum}}">订单详情</a></p>
																	<p class="order-info"><a href="logistics.html">查看物流</a></p>
																</div>
															</li>
															<li class="td td-change">
																<div class="am-btn am-btn-danger anniu">
																	删除订单</div>
															</li>
														</div>
														
														<!-- 待付款 -->
														<div class="move-right" ng-if="o.status==0">
															<li class="td td-status">
																<div class="item-status">
																	<p class="Mystatus">等待买家付款</p>
																	<p class="order-info"><a ng-href="orderinfo.html?orderNum={{o.orderNum}}">订单详情</a></p>
																	<p class="order-info"><a href="orderinfo.html">取消订单</a></p>
																</div>
															</li>
															<li class="td td-change">
																<a href="pay.html">
																<div class="am-btn am-btn-danger anniu">
																	一键支付</div></a>
															</li>
														</div>
														<!-- 交易关闭   交易失败-->
														<div class="move-right" ng-if="o.status=='-10'">
															<li class="td td-status">
																<div class="item-status">
																	<p class="order-info"><a ng-href="orderinfo.html?orderNum={{o.orderNum}}">订单详情</a></p>
																	<p class="Mystatus">交易关闭</p>
																</div>
															</li>
															<li class="td td-change">
																<div class="am-btn am-btn-danger anniu">
																	删除订单</div>
															</li>
														</div>
														<!-- 待发货 -->
														<div class="move-right" ng-if="o.status==2 || o.status==10">
															<li class="td td-status">
																<div class="item-status">
																	<p class="Mystatus">买家已付款</p>
																	<p class="order-info"><a ng-href="orderinfo.html?orderNum={{o.orderNum}}">订单详情</a></p>
																</div>
															</li>
															<li class="td td-change">
																<div class="am-btn am-btn-danger anniu">
																	提醒发货</div>
															</li>
														</div>
														<!-- 待收货 -->
														<div class="move-right" ng-if="o.status==3 || o.status==10">
															<li class="td td-status">
																<div class="item-status">
																	<p class="Mystatus">卖家已发货</p>
																	<p class="order-info"><a ng-href="orderinfo.html?orderNum={{o.orderNum}}">订单详情</a></p>
																	<p class="order-info"><a href="logistics.html">查看物流</a></p>
																	<p class="order-info"><a href="#">延长收货</a></p>
																</div>
															</li>
															<li class="td td-change">
																<div class="am-btn am-btn-danger anniu">
																	确认收货</div>
															</li>
														</div>
														
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<!-- 待付款 -->
								<div class="am-tab-panel am-fade" id="tab2">

									<div class="order-top">
										<div class="th th-item">
											<td class="td-inner">商品</td>
										</div>
										<div class="th th-price">
											<td class="td-inner">单价</td>
										</div>
										<div class="th th-number">
											<td class="td-inner">数量</td>
										</div>
										<div class="th th-operation">
											<td class="td-inner">商品操作</td>
										</div>
										<div class="th th-amount">
											<td class="td-inner">合计</td>
										</div>
										<div class="th th-status">
											<td class="td-inner">交易状态</td>
										</div>
										<div class="th th-change">
											<td class="td-inner">交易操作</td>
										</div>
									</div>

									<div class="order-main">
										<div class="order-list">
											<div class="order-status1" ng-repeat="po in myOrder" ng-if="po.status==0">
												<div class="order-title">
													<div class="dd-num">订单编号：<a href="javascript:;">{{po.orderNum}}</a></div>
													<span>成交时间：{{po.putawayTime==null? po.createTime:po.putawayTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
													   <!-- <em>店铺：小桔灯</em> -->
												</div>
												<div class="order-content">
													<div class="order-left">
														<ul class="item-list" ng-repeat="r in po.commodityRefOrder">
															<li class="td td-item">
																<div class="item-pic">
																	<a ng-href="introduction?commodityNum={{r.commodityNum}}" class="J_MakePoint">
																		<img ng-src="{{r.cover}}" width=85px height=85px class="itempic J_ItemImg">
																	</a>
																</div>
																<div class="item-info">
																	<div class="item-basic-info">
																		<a ng-href="introduction?commodityNum={{r.commodityNum}}">
																			<p>{{r.commodityTitle}}</p>
																			<!-- <p class="info-little">颜色：12#川南玛瑙
																				<br/>包装：裸装 </p> -->
																		</a>
																	</div>
																</div>
															</li>
															<li class="td td-price">
																<div class="item-price">
																	{{r.buyPrice}}
																</div>
															</li>
															<li class="td td-number">
																<div class="item-number">
																	<span>×</span>{{r.buyNum}}
																</div>
															</li>
															<li class="td td-operation">
																<div class="item-operation">

																</div>
															</li>
														</ul>
														
													</div>
													<div class="order-right">
														<li class="td td-amount">
															<div class="item-amount">
																合计：{{po.totalAmount}}
																<p>含运费：<span>{{po.paymentAmount}}</span></p>
															</div>
														</li>
														<div class="move-right">
															<li class="td td-status">
																<div class="item-status">
																	<p class="Mystatus">等待买家付款</p>
																	<p class="order-info"><a href="#">取消订单</a></p>

																</div>
															</li>
															<li class="td td-change">
																<a href="pay.html">
																<div class="am-btn am-btn-danger anniu">
																	一键支付</div></a>
															</li>
														</div>
													</div>

												</div>
											</div>
										</div>

									</div>
								</div>
								
								<!-- 待发货 -->
								<div class="am-tab-panel am-fade" id="tab3">
									<div class="order-top">
										<div class="th th-item">
											<td class="td-inner">商品</td>
										</div>
										<div class="th th-price">
											<td class="td-inner">单价</td>
										</div>
										<div class="th th-number">
											<td class="td-inner">数量</td>
										</div>
										<div class="th th-operation">
											<td class="td-inner">商品操作</td>
										</div>
										<div class="th th-amount">
											<td class="td-inner">合计</td>
										</div>
										<div class="th th-status">
											<td class="td-inner">交易状态</td>
										</div>
										<div class="th th-change">
											<td class="td-inner">交易操作</td>
										</div>
									</div>

									<div class="order-main">
										<div class="order-list">
											<div class="order-status2"  ng-repeat="do in myOrder" ng-if="do.status==2">
												<div class="order-title">
													<div class="dd-num">订单编号：<a href="javascript:;">{{do.orderNum}}</a></div>
													<span>成交时间：{{do.putawayTime==null? do.createTime:do.putawayTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
													   <!-- <em>店铺：小桔灯</em> -->
												</div>
												<div class="order-content">
													<div class="order-left">
													
														<ul class="item-list" ng-repeat="r in do.commodityRefOrder">
															<li class="td td-item">
																<div class="item-pic">
																	<a ng-href="introduction?commodityNum={{r.commodityNum}}" class="J_MakePoint">
																		<img ng-src="{{r.cover}}" width=85px height=85px class="itempic J_ItemImg">
																	</a>
																</div>
																<div class="item-info">
																	<div class="item-basic-info">
																		<a ng-href="introduction?commodityNum={{r.commodityNum}}">
																			<p>{{r.commodityTitle}}</p>
																			<!-- <p class="info-little">颜色：12#川南玛瑙
																				<br/>包装：裸装 </p> -->
																		</a>
																	</div>
																</div>
															</li>
															<li class="td td-price">
																<div class="item-price">
																	{{r.buyPrice}}
																</div>
															</li>
															<li class="td td-number">
																<div class="item-number">
																	<span>×</span>{{r.buyNum}}
																</div>
															</li>
															<li class="td td-operation">
																<div class="item-operation">
																	<a href="refund.html">退款</a>
																</div>
															</li>
														</ul>

														
													</div>
													<div class="order-right">
														<li class="td td-amount">
															<div class="item-amount">
																合计：{{do.totalAmount}}
																<p>含运费：<span>{{do.paymentAmount}}</span></p>
															</div>
														</li>
														<div class="move-right">
															<li class="td td-status">
																<div class="item-status">
																	<p class="Mystatus">买家已付款</p>
																	<p class="order-info"><a href="orderinfo.html">订单详情</a></p>
																</div>
															</li>
															<li class="td td-change">
																<div class="am-btn am-btn-danger anniu">
																	提醒发货</div>
															</li>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<!-- 待收货 -->
								<div class="am-tab-panel am-fade" id="tab4">
									<div class="order-top">
										<div class="th th-item">
											<td class="td-inner">商品</td>
										</div>
										<div class="th th-price">
											<td class="td-inner">单价</td>
										</div>
										<div class="th th-number">
											<td class="td-inner">数量</td>
										</div>
										<div class="th th-operation">
											<td class="td-inner">商品操作</td>
										</div>
										<div class="th th-amount">
											<td class="td-inner">合计</td>
										</div>
										<div class="th th-status">
											<td class="td-inner">交易状态</td>
										</div>
										<div class="th th-change">
											<td class="td-inner">交易操作</td>
										</div>
									</div>

									<div class="order-main">
										<div class="order-list">
											<div class="order-status3" ng-repeat="wo in myOrder" ng-if="wo.status==3">
												<div class="order-title">
													<div class="dd-num">订单编号：<a href="javascript:;">{{wo.orderNum}}</a></div>
													<span>成交时间：{{wo.putawayTime==null? wo.createTime:wo.putawayTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
													   <!-- <em>店铺：小桔灯</em> -->
												</div>
												<div class="order-content">
													<div class="order-left">
													
														<ul class="item-list" ng-repeat="r in wo.commodityRefOrder">
															<li class="td td-item">
																<div class="item-pic">
																	<a ng-href="introduction?commodityNum={{r.commodityNum}}" class="J_MakePoint">
																		<img ng-src="{{r.cover}}" width=85px height=85px class="itempic J_ItemImg">
																	</a>
																</div>
																<div class="item-info">
																	<div class="item-basic-info">
																		<a ng-href="introduction?commodityNum={{r.commodityNum}}">
																			<p>{{r.commodityTitle}}</p>
																			<!-- <p class="info-little">颜色：12#川南玛瑙
																				<br/>包装：裸装 </p> -->
																		</a>
																	</div>
																</div>
															</li>
															<li class="td td-price">
																<div class="item-price">
																	{{r.buyPrice}}
																</div>
															</li>
															<li class="td td-number">
																<div class="item-number">
																	<span>×</span>{{r.buyNum}}
																</div>
															</li>
															<li class="td td-operation">
																<div class="item-operation">
																	<a href="#">退款/退货</a>
																</div>
															</li>
														</ul>

													</div>
													<div class="order-right">
														<li class="td td-amount">
															<div class="item-amount">
																合计：{{wo.totalAmount}}
																<p>含运费：<span>{{wo.paymentAmount}}</span></p>
															</div>
														</li>
														<div class="move-right">
															<li class="td td-status">
																<div class="item-status">
																	<p class="Mystatus">卖家已发货</p>
																	<p class="order-info"><a href="orderinfo.html">订单详情</a></p>
																	<p class="order-info"><a href="logistics.html">查看物流</a></p>
																	<p class="order-info"><a href="#">延长收货</a></p>
																</div>
															</li>
															<li class="td td-change">
																<div class="am-btn am-btn-danger anniu">
																	确认收货</div>
															</li>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

 								<!-- 待评价 -->
								 <div class="am-tab-panel am-fade" id="tab5">
									<div class="order-top">
										<div class="th th-item">
											<td class="td-inner">商品</td>
										</div>
										<div class="th th-price">
											<td class="td-inner">单价</td>
										</div>
										<div class="th th-number">
											<td class="td-inner">数量</td>
										</div>
										<div class="th th-operation">
											<td class="td-inner">商品操作</td>
										</div>
										<div class="th th-amount">
											<td class="td-inner">合计</td>
										</div>
										<div class="th th-status">
											<td class="td-inner">交易状态</td>
										</div>
										<div class="th th-change">
											<td class="td-inner">交易操作</td>
										</div>
									</div>

									<div class="order-main">
										<div class="order-list">
										<div class="order-status4" ng-repeat="ro in myOrder" ng-if="ro.status==4">
												<div class="order-title">
													<div class="dd-num">订单编号：<a href="javascript:;">{{ro.orderNum}}</a></div>
													<span>成交时间：{{ro.putawayTime==null? ro.createTime:ro.putawayTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>

												</div>
												<div class="order-content">
													<div class="order-left">
														<ul class="item-list" ng-repeat="r in ro.commodityRefOrder">
															<li class="td td-item">
																<div class="item-pic">
																	<a ng-href="introduction?commodityNum={{r.commodityNum}}" class="J_MakePoint">
																		<img ng-src="{{r.cover}}" width=85px height=85px class="itempic J_ItemImg" >
																	</a>
																</div>
																<div class="item-info">
																	<div class="item-basic-info">
																		<a ng-href="introduction?commodityNum={{r.commodityNum}}">
																			<p>{{r.commodityTitle}}</p>
																			<!-- <p class="info-little">颜色：12#川南玛瑙
																				<br/>包装：裸装 </p> -->
																		</a>
																	</div>
																</div>
															</li>
															<li class="td td-price">
																<div class="item-price">
																	{{r.buyPrice}}
																</div>
															</li>
															<li class="td td-number">
																<div class="item-number">
																	<span>×</span>{{r.buyNum}}
																</div>
															</li>
															<li class="td td-operation">
																<div class="item-operation">
																	<!-- <a href="refund.html">退款/退货</a> -->
																</div>
															</li>
														</ul>
													</div>
													<div class="order-right">
														<li class="td td-amount">
															<div class="item-amount">
																合计：{{ro.totalAmount}}
																<p>含运费：<span>{{ro.paymentAmount}}</span></p>
															</div>
														</li>
														<div class="move-right">
															<li class="td td-status">
																<div class="item-status">
																	<p class="Mystatus">交易成功</p>
																	<p class="order-info"><a href="orderinfo.html">订单详情</a></p>
																	<p class="order-info"><a href="logistics.html">查看物流</a></p>
																</div>
															</li>
															<li class="td td-change">
																<a href="commentlist.html">
																	<div class="am-btn am-btn-danger anniu">
																		评价商品</div>
																</a>
															</li>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- 完 -->
								
								
							</div>
						</div>
					</div>
				</div>
				<!--底部-->
				<div class="footer " th:include="./common/footer::footer"></div>
			</div>
			<!-- 个人中心侧边 -->
			<aside class="menu"  th:include="./common/aside :: aside"></aside>
		</div>

	</body>

</html>