
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

		<title>订单详情</title>

		<link href="../AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
		<link href="../AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">

		<link href="../css/personal.css" rel="stylesheet" type="text/css">
		<link href="../css/orstyle.css" rel="stylesheet" type="text/css">

		<link href="../css/modal.css" rel="stylesheet" type="text/css">
		<script src="../AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
		<script src="../AmazeUI-2.4.2/assets/js/amazeui.js"></script>
		
		
		<script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>
		
		<script type="text/javascript" src="../angularjs/1.6.2/angular.min.js"></script>
		<script type="text/javascript" src="../angularjs/1.5.11/angular.min.js"></script>
		<script src="angularjs/1.5.11/angular.min.js"></script>
		<script src="angularjs/1.5.11/angular-messages.min.js"></script>
		<script src="angularjs/1.5.11/angular-touch.min.js"></script>
		<script src="angularjs/1.5.11/angular-animate.min.js"></script>
		
		<script type="text/javascript" src="../js/person/orderinfo.js"></script>

	</head>

	<body ng-app="orderinfoApp" ng-controller ="orderinfoCtrl">
		<!--头 -->
		<header>
			<article>
				<!-- 头部 -->
				<div  class="hmtop" th:include="./common/header :: header"></div>
			</article>
		</header>
            <!-- 首页分类那些 -->
			<div class="nav-table"  th:include="./common/navtable :: navtable"></div>
			<b class="line"></b>
		<div class="center">
			<div class="col-main">
				<div class="main-wrap">

					<div class="user-orderinfo">

						<!--标题 -->
						<div class="am-cf am-padding">
							<div class="am-fl am-cf">
								<strong class="am-text-danger am-text-lg">订单详情</strong>
								 / 
								 <small>Order&nbsp;details</small>
								 <span id="orderNum" th:text="${orderNum}" style="display: none"></span><!--  -->
							</div>
						</div>
						<hr/>
						<!--进度条-->
						<div class="m-progress">
							<div class="m-progress-list">
							<!-- 订单状态  -10-交易关闭、0-待付款、1-完成、2-待发货、3-待收货、4-待评价、10-退款售后 -->
								<span class="step" ng-class="(order.status==2)? 'step-2': ((order.status==3 ||order.status==4||order.status==1)?'step-1':'')"><!-- step-1  -->
                                   <em class="u-progress-stage-bg"></em>
                                   <i class="u-stage-icon-inner">1<em class="bg"></em></i>
                                   <p class="stage-name">拍下商品</p>
                                </span>
								<span class=" step" ng-class="(order.status==3)? 'step-2': ((order.status==4||order.status==1)?'step-1':'')">
                                   <em class="u-progress-stage-bg"></em>
                                   <i class="u-stage-icon-inner">2<em class="bg"></em></i>
                                   <p class="stage-name">卖家发货</p>
                                </span>
								<span class="step" ng-class="(order.status==4)? 'step-2':((order.status==1)? 'step-1':'')">
                                   <em class="u-progress-stage-bg"></em>
                                   <i class="u-stage-icon-inner">3<em class="bg"></em></i>
                                   <p class="stage-name">确认收货</p>
                                </span>
								<span class="step" ng-class="order.status==1? 'step-2':''">
                                   <em class="u-progress-stage-bg"></em>
                                   <i class="u-stage-icon-inner">4<em class="bg"></em></i>
                                   <p class="stage-name">交易完成</p>
                                </span>
								<span class="u-progress-placeholder"></span>
							</div>
							<div class="u-progress-bar total-steps-2">
								<div class="u-progress-bar-inner"></div>
							</div>
						</div>
						<div class="order-infoaside">
							<!-- 收货地址 -->
							<div class="order-addresslist">
								<div class="order-address">
									<div class="icon-add">
									</div>
									<p class="new-tit new-p-re">
										<span class="new-txt">{{receiving.consignee}}</span>
										<span class="new-txt-rd2">{{receiving.consigneePhone}}</span>
									</p>
									<div class="new-mu_l2a new-p-re">
										<p class="new-mu_l2cw">
											<span class="title">收货地址：{{receiving.receiptAddress}}</span>
											<!-- <span class="province">湖北</span>省
											<span class="city">武汉</span>市
											<span class="dist">洪山</span>区
											<span class="street">雄楚大道666号(中南财经政法大学)</span> -->
										</p>
									</div>
								</div>
							</div>
							<!-- 交易详情 -->
							<div class="order-logistics">
								<!-- <a href="logistics.html"> -->
									<div class="icon-log">
										<i ng-if="order.status==3 || order.status==4"><img src="../images/receive.png"></i>
									</div>
									<div class="latest-logistics">
										<p class="text" ng-if="order.status==2">已付款</p>
										<p class="text" ng-if="order.status==3">已发货</p>
										<p class="text" ng-if="order.status==4">已签收,签收人是青年城签收，感谢使用{{order.logisticsMode}}快递，期待再次为您服务</p>
										<div class="time-list">
											<span class="date">{{order.updateTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
										</div>
										<p class="msg" th:text="${msg}" style="font-size: 20px;color: red;padding: 2% 0;"></p>
										<!-- <div class="inquire">
											<span class="package-detail">物流：天天快递</span>
											<span class="package-detail">快递单号: </span>
											<span class="package-number">373269427868</span>
											<a href="logistics.html">查看</a>
										</div> -->
									</div>
									<!-- <span class="am-icon-angle-right icon"></span> -->
						<!-- 		</a> -->
								<div class="clear"></div>
							</div>
						</div>
						<div class="order-infomain" style="padding: 1%">

							<div class="order-top">
								<div class="th th-item">
									<td class="td-inner">商品</td>
								</div>
								<div class="th th-price">
									<td class="td-inner">单价</td>
								</div>
								<div class="th th-number">
									<td class="td-inner">数量</td>
								</div>
								<div class="th th-operation">
									<td class="td-inner">商品操作</td>
								</div>
								<div class="th th-amount">
									<td class="td-inner">合计</td>
								</div>
								<div class="th th-status">
									<td class="td-inner">交易状态</td>
								</div>
								<div class="th th-change">
									<td class="td-inner">交易操作</td>
								</div>
							</div>

							<div class="order-main">

								<div class="order-status3">
									<div class="order-title">
										<div class="dd-num">订单编号：<a href="javascript:;">{{order.orderNum}}</a></div>
										<span>成交时间：{{order.putawayTime==null? order.createTime:order.putawayTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
										<!--    <em>店铺：小桔灯</em>-->
									</div>
									<div class="order-content">
										<div class="order-left">
											<ul class="item-list" ng-repeat="c in order.commodityRefOrder">
												<li class="td td-item">
													<div class="item-pic">
														<a ng-href="introduction?commodityNum={{c.commodityNum}}" class="J_MakePoint">
															<img ng-src="{{c.cover}}" class="itempic J_ItemImg">
														</a>
													</div>
													<div class="item-info">
														<div class="item-basic-info">
															<a ng-href="introduction?commodityNum={{c.commodityNum}}">
																<p>{{c.commodityTitle}}</p>
																<!-- <p class="info-little">颜色：12#川南玛瑙
																	<br/>包装：裸装 </p> -->
															</a>
														</div>
													</div>
												</li>
												<li class="td td-price">
													<div class="item-price">
														{{c.buyPrice}}
													</div>
												</li>
												<li class="td td-number">
													<div class="item-number">
														<span>×</span>{{c.buyNum}}
													</div>
												</li>
												<li class="td td-operation" ng-if="order.status==2 || order.status==3 || order.status==4">
													<div class="item-operation">
														<a href="refund.html">退款</a>
														<a href="refund.html" ng-if="order.status==3 || order.status==4">/退货</a>
													</div>
												</li>
											</ul>

											<!-- <ul class="item-list">
												<li class="td td-item">
													<div class="item-pic">
														<a href="#" class="J_MakePoint">
															<img src="../images/62988.jpg_80x80.jpg" class="itempic J_ItemImg">
														</a>
													</div>
													<div class="item-info">
														<div class="item-basic-info">
															<a href="#">
																<p>礼盒袜子女秋冬 纯棉袜加厚 韩国可爱 </p>
																<p class="info-little">颜色分类：李清照
																	<br/>尺码：均码</p>
															</a>
														</div>
													</div>
												</li>
												<li class="td td-price">
													<div class="item-price">
														333.00
													</div>
												</li>
												<li class="td td-number">
													<div class="item-number">
														<span>×</span>2
													</div>
												</li>
												<li class="td td-operation">
													<div class="item-operation">
														退款/退货
													</div>
												</li>
											</ul> -->

										</div>
										<div class="order-right">
											<li class="td td-amount">
												<div class="item-amount">
													合计：{{order.totalAmount}}
													<p>含运费：<span>{{order.paymentAmount}}</span></p>
												</div>
											</li>
											<!-- 交易成功 -->
											<div class="move-right" ng-if="order.status==4 || order.status==1 || order.status==10">
												<li class="td td-status">
													<div class="item-status">
														<p class="Mystatus">交易成功</p>
														<p class="order-info"><a href="orderinfo.html"  ng-if="order.status==4">去评价</a></p>
														<!-- <p class="order-info"><a ng-href="orderinfo.html?orderNum={{order.orderNum}}">订单详情</a></p> -->
														<p class="order-info"><a href="logistics.html">查看物流</a></p>
													</div>
												</li>
												<li class="td td-change">
													<div class="am-btn am-btn-danger anniu">
														删除订单</div>
												</li>
											</div>
											
											<!-- 待付款 -->
											<div class="move-right" ng-if="order.status==0">
												<li class="td td-status">
													<div class="item-status">
														<p class="Mystatus">等待买家付款</p>
														<!-- <p class="order-info"><a ng-href="orderinfo.html?orderNum={{order.orderNum}}">订单详情</a></p> -->
														<p class="order-info orderCancel"><span style="cursor:pointer;">取消订单</span> </p>
													</div>
												</li>
												<li class="td td-change">
													<!-- <a href="pay.html"></a> -->
													<div class="am-btn am-btn-danger anniu theme-login">
														一键支付</div>
												</li>
											</div>
											<!-- 交易关闭   交易失败-->
											<div class="move-right" ng-if="order.status=='-10'">
												<li class="td td-status">
													<div class="item-status">
														<!-- <p class="order-info"><a ng-href="orderinfo.html?orderNum={{order.orderNum}}">订单详情</a></p> -->
														<p class="Mystatus">交易关闭</p>
													</div>
												</li>
												<li class="td td-change">
													<div class="am-btn am-btn-danger anniu">
														删除订单</div>
												</li>
											</div>
											<!-- 待发货 -->
											<div class="move-right" ng-if="order.status==2 || order.status==10">
												<li class="td td-status">
													<div class="item-status">
														<p class="Mystatus">买家已付款</p>
														<!-- <p class="order-info"><a ng-href="orderinfo.html?orderNum={{order.orderNum}}">订单详情</a></p> -->
													</div>
												</li>
												<li class="td td-change">
													<div class="am-btn am-btn-danger anniu">
														提醒发货</div>
												</li>
											</div>
											<!-- 待收货 -->
											<div class="move-right" ng-if="order.status==3 || order.status==10">
												<li class="td td-status">
													<div class="item-status">
														<p class="Mystatus">卖家已发货</p>
														<!-- <p class="order-info"><a ng-href="orderinfo.html?orderNum={{order.orderNum}}">订单详情</a></p> -->
														<p class="order-info"><a href="logistics.html">查看物流</a></p>
														<p class="order-info"><a href="#">延长收货</a></p>
													</div>
												</li>
												<li class="td td-change">
													<div class="am-btn am-btn-danger anniu">
														确认收货</div>
												</li>
											</div>
											<!-- <div class="move-right">
												<li class="td td-status">
													<div class="item-status">
														<p class="Mystatus">卖家已发货</p>
														<p class="order-info"><a href="logistics.html">查看物流</a></p>
														<p class="order-info"><a href="#">延长收货</a></p>
													</div>
												</li>
												<li class="td td-change">
													<div class="am-btn am-btn-danger anniu">
														确认收货</div>
												</li>
											</div> -->
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
				<!--底部-->
				<div class="footer " th:include="./common/footer::footer"></div>
			</div>

			<!-- 个人中心侧边 -->
			<aside class="menu"  th:include="./common/aside :: aside"></aside>
		</div>
		
			<!--付款 弹框 -->
			<div class='dlg-bg'></div>
			<div class="theme-popover dlg1" ng2-if="tip">
				<!-- 标题 -->
				<div class="am-cf am-padding">
					<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">确认付款</strong> / <small>Confirm the payment</small></div>
				</div>
				<hr/>

				<div class="am-u-md-12">
					<form class="am-form am-form-horizontal" action="paymentMyOrder" method="post">
						<div class="am-form-group">
							<label for="user-name" class="am-form-label">付款金额：</label>
							<div class="am-form-content">￥{{order.paymentAmount}}</div>
						</div>
						<div class="am-form-group">
							<label for="user-name" class="am-form-label">支付密码：</label>
							<div class="am-form-content">
								<input type="password" name="paymentCode" id="user-name" placeholder="请输入支付密码" style="width: 80%;">
							</div>
						</div>
						<div class="am-form-group" style="display: none;">
							<label for="user-name" class="am-form-label">订单编号：</label>
							<div class="am-form-content">
								<input type="text" name="orderNum" id="orderNum" placeholder="请输入支付密码" ng-model="order.orderNum" style="width: 80%;">
							</div>
						</div>
						<div class="am-form-group theme-poptit">
							<div class="am-u-sm-9 am-u-sm-push-3">
								<button type="submit" class="am-btn am-btn-danger">确认</button>
								<p class="am-btn am-btn-danger close theme-close">取消</p>
							<!-- 	<a ng-href="orderinfo.html?orderNum={{orderNum}}"> --><!-- </a> -->
							</div>
						</div>
					</form>
				</div>
			</div>
			<!-- 订单取消弹框 -->
			<div class="theme-popover dlg2" ng2-if="tip">

				<!-- 标题 -->
				<div class="am-cf am-padding">
					<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">订单取消</strong> / <small>Cancel the order</small></div>
				</div>
				<hr/>

				<div class="am-u-md-12">
					<form class="am-form am-form-horizontal" action="cancelOrder" method="post">
						<!-- <div class="am-form-group">
							<label for="user-name" class="am-form-label">付款金额：</label>
							<div class="am-form-content">￥{{order.paymentAmount}}</div>
						</div> -->
						<div class="am-form-group">
							<label for="user-name" class="am-form-label">取消订单原因：</label>
							<div class="am-form-content">
								<textarea  name="remark" id="remark" placeholder="请输入取消订单的原因" style="width: 80%;"></textarea>
							</div>
						</div>
						<div class="am-form-group" style="display: none;">
							<label for="user-name" class="am-form-label">订单编号：</label>
							<div class="am-form-content">
								<input type="text" name="orderNum"  placeholder="请输入支付密码" ng-model="order.orderNum" style="width: 80%;">
							</div>
						</div>
						<div class="am-form-group theme-poptit">
							<div class="am-u-sm-9 am-u-sm-push-3">
								<button type="submit" class="am-btn am-btn-danger">确认</button>
								<p class="am-btn am-btn-danger close theme-close">取消</p>
							<!-- 	<a ng-href="orderinfo.html?orderNum={{orderNum}}"> --><!-- </a> -->
							</div>
						</div>
					</form>
				</div>
			</div>
			<!-- <div class="clear"></div> -->

	</body>

</html>