<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.yh.sales.comment.mapper.CommentMapper"> 

	<resultMap id="commentVo" type="CommentVo">
		<id property="id" column="id"/>
		<result property="commodityId" column="commodity_id"/>
		<result property="commodityNum" column="commodity_num"/>
		<result property="orderId" column="order_id"/>
		<result property="orderNum" column="order_num"/>
		<result property="type" column="type"/>
		<result property="content" column="content"/>
		<result property="createTime" column="create_time" />
		<result property="createUserId" column="create_user_id" />
		<collection property="commentImg" ofType="CommentImg">
			<id property="id" column="i_id"/>
			<result property="commentId" column="comment_id"/>
			<result property="createUserId" column="create_user_id" />
			<result property="path" column="path"/>
		</collection>
	</resultMap>
	
	<!-- saveComment -->
	<insert id="saveComment" parameterType="java.util.ArrayList" >
		insert into commodity_comment
		(commodity_id,commodity_num,order_id,order_num,type,content,create_time,create_user_id)
		values
		 <foreach collection="list" item="item" index="index" separator=",">  
      	 	(#{item.commodityId},#{item.commodityNum},#{item.orderId},#{item.orderNum},
      	 	#{item.type},#{item.content},#{item.createTime},#{item.createUserId})
   		 </foreach>  
	</insert>
	
	
	<!-- findByOrder -->
	<!-- <select id="findByOrder" resultMap="commodityRefOrder">
		select * from commodity_ref_order where 1=1
		<if test="orderNum!=null">and order_num=#{orderNum}</if>
		<if test="orderId!=null">and order_id=#{orderId}</if>
	</select> -->

</mapper>