<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.yh.order.mapper.OrderMapper"> 
	<resultMap id="order" type="Order">
		<id property="id" column="id"/>
		<result property="commodityId" column="commodity_id"/>
		<result property="commodityTitle" column="commodity_title"/>
		<result property="buyNum" column="buy_num"/>
		<result property="createTime" column="create_time"/>
		<result property="createUserId" column="create_user_id"/>
		<result property="paymentAmount" column="payment_mount"/>
		<result property="totalAmount" column="total_amount"/>
		<result property="status" column="status"/>
		<result property="receivingId" column="receiving_id"/>
		<result property="buyPrice" column="buy_price"/>
		<result property="updateTime" column="update_time"/>
		<result property="putawayTime" column="putaway_time"/>
	</resultMap>
	

</mapper>