<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->  
<mapper namespace="com.yh.user.mapper.UserMapper">  
	<resultMap id="user" type="User">
		<id property="id" column="id"/>
		<result property="userName" column="user_name"/>
		<result property="password" column="password"/>
		<result property="nickName" column="nack_name"/>
		<result property="email" column="email"/>
		<result property="phone" column="phone"/>
		<result property="headPortrair" column="head_portrair"/>
		<result property="sex" column="sex"/>
		<result property="birthday" column="birthday"/>
		<result property="integral" column="integral"/>
		<result property="createTime" column="create_time" jdbcType="DATE"  javaType="java.util.Date"/>
		<result property="updateTime" column="update_time"  jdbcType="TIMESTAMP" javaType="java.util.Date"/>
		<!-- <result property="createTime" column="create_time" javaType="java.util.Date" /> -->
	</resultMap>
      
    <!-- 若不需要自动返回主键，将useGeneratedKeys="true" keyProperty="id"去掉即可(当然如果不需要自动返回主键，直接用注解即可) -->  
  <!--   <insert id="insertUserWithBackId" parameterType="User" useGeneratedKeys="true" keyProperty="id" >  
       <![CDATA[ 
       INSERT INTO user-info  
       ( 
           login_name, 
           password 
       ) 
       VALUES 
       ( 
           #{loginName, jdbcType=VARCHAR}, 
           #{password, jdbcType=VARCHAR} 
       ) 
       ]]>  
   </insert>  
    -->
   <select id="findByUserName" resultMap="user">
    select * from user_info where user_name=#{userName}
   </select>
    <select id="findByEmail" resultMap="user">
    select * from user_info where email=#{email}
   </select>
    <select id="findByPhone" resultMap="user">
    select * from user_info where phone=#{phone}
   </select>
   
      
</mapper> 